<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <link rel="stylesheet" href="../../css/appointmentindex.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Views/Doctor/docindex.html">Doctors</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="Views/Account/Login.html" class="btn btn-login">Login</a></li>
            <li><a href="Views/Account/Register.html" class="btn btn-register">Register</a></li>
        </ul>
    </nav>
    <br><br>
    <h2>Create</h2>

    <form id="appointmentForm" action="/Appointment/Create" method="post">
        <input type="hidden" name="__RequestVerificationToken" value="...">
        
        <div class="form-horizontal">
            <h4>Appointment</h4>
            <hr />
            
            <div class="form-group">
                <label for="UserID" class="control-label col-md-2">UserID</label>
                <div class="col-md-10">
                    <!-- Replace User.Identity.Name with the actual value if needed -->
                    <label>@User.Identity.Name</label>
                    <input type="hidden" id="UserID" name="UserID" value="@User.Identity.Name" />
                </div>
            </div>

            <div class="form-group">
                <label for="DoctorID" class="control-label col-md-2">DoctorID</label>
                <div class="col-md-10">
                    <select id="DoctorID" name="DoctorID">
                        <option value="">--Select Doctor--</option>
                        <option value="1">Dr.Asfi</option>
                        <option value="2">Dr.Danny</option>
                        <option value="3">Dr.Joey</option>
                        <option value="4">Dr.Kenneth</option>
                        <option value="5">Dr.Maria</option>
                        <option value="6">Dr.Shelly</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="Date" class="control-label col-md-2">Date</label>
                <div class="col-md-10">
                    <input type="date" id="Date" name="Date" />
                </div>
            </div>

            <div class="form-group">
                <label for="Time" class="control-label col-md-2">Time</label>
                <div class="col-md-10">
                    <select id="Time" name="Time" class="form-control">
                        <option value="8am">8:00 AM to 8:30 AM</option>
                        <option value="9am">9:00 AM to 9:30 AM</option>
                        <option value="10am">10:00 AM to 10:30 AM</option>
                        <option value="11am">11:00 AM to 11:30 AM</option>
                        <option value="12pm">12:00 PM to 12:30 PM</option>
                    </select>
                </div>
            </div>            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" id="createButton" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <!-- Use JavaScript to go back in history -->
        <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $("#Date").change(function () {
                var selectedDate = $(this).val();
                
                // Make an AJAX call to get the list of available doctors for the selected date
                $.ajax({
                    url: "/Appointment/GetAvailableDoctors",
                    type: "GET",
                    data: { date: selectedDate },
                    dataType: "json",
                    success: function (data) {
                        // Clear existing options
                        $("#DoctorID").empty();
                        // Add default option
                        $("#DoctorID").append('<option value="">--Select Doctor--</option>');
                        // Add options from the returned data
                        $.each(data, function (index, item) {
                            $("#DoctorID").append('<option value="' + item.value + '">' + item.text + '</option>');
                        });
                    },
                    error: function () {
                        alert("Error retrieving available doctors!");
                    }
                });
            });

            // Add click event listener to the "Create" button
            $("#createButton").click(function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Simulate the redirection to the details page
                window.location.href = "../Views/Appointment/Details.html"; // Replace "1234" with the appropriate appointment ID
            });
        });
    </script>
 <br><br><br><br><br>
</body>
<footer>
    <div class="footer-container">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Email: support@docappointments.com</p>
                <p>Phone: +1 234 567 8900</p>
                <p>Address: 123 Health St, Wellness City</p>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-links">
                   <p><a href="https://facebook.com">Facebook</a></pr>
                   <p><a href="https://twitter.com">Twitter</a></p>
                    <p><a href="https://instagram.com">Instagram</a></p>
                </div>
            </div>
    </div>
</footer>
</html>