<!DOCTYPE html>
<html>
<head>
    <title>Appointment Details</title>
    <link rel="stylesheet" type="text/css" href="../../css/appointmentindex.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../Views/Doctor/docindex.html">Doctors</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="../Account/Login.html" class="btn btn-login">Login</a></li>
                <li><a href="../Account/Register.html" class="btn btn-register">Register</a></li>
            </ul>
        </nav>
        <br><br>
    </header>

    <h2>Appointment Details</h2>
    <table>
        <thead>
            <tr>
                <th>Patient's Name</th>
                <th>Doctor's Name</th>
                <th>Department</th>
                <th>Date</th>
                <th>Time</th>
                <th>Concern</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alex</td>
                <td>Dr.Danny</td>
                <td>Dentistry</td>
                <td>2024-04-25</td>
                <td>8:30 AM</td>
                <td>Bleeding gums</td>
            </tr>
            <tr>
                <td>Alex</td>
                <td>Dr.Joey</td>
                <td>Nuerology</td>
                <td>2024-04-15</td>
                <td>10:30 AM</td>
                <td>Migrane</td>
            </tr>
        </tbody>
    </table>
    
    <p>
        <a href="../../Views/Appointment/createappointment.html" class="btn">Go Back</a>
    </p>
    <p>&copy; 2024 - Hospital LLC</p>
    <br><br><br><br><br><br>
</body>
<footer>
    <div class="footer-container">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Email: support@docappointments.com</p>
                <p>Phone: +1 234 567 8900</p>
                <p>Address: 123 Health St, Wellness City</p>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-links">
                   <p><a href="https://facebook.com">Facebook</a></pr>
                   <p><a href="https://twitter.com">Twitter</a></p>
                    <p><a href="https://instagram.com">Instagram</a></p>
                </div>
            </div>
    </div>
</footer>
</html>